<h1>Glen Campbell Appreciation Society Membership Form</h1>
  <form action="/glen/result" method="get">
    Hey! What's your name? </br>
    <input type="text" name="name"></br>

    What type of fan of Glen Campbell are you?</br>

    <input type="radio" name"love" value="superfan">A Glen Campbell Super Fan</input></br>
    <input type="radio" name"love" value="president">President of the local chapter of the Glen Campbell Fan Club</input></br>
    <input type="radio" name"love" value="glen">I'm actually Glen Campbell</input></br>

    </br>How much do you love Glen Campbell?
    <select name="glen_campbell_love">
      <option value="lots">I need him more than want him</option>
      <option value="all">I want him for all time</option>
    </select>

    </br><input type="submit" value="Appreciate Glen!">
  </form>